.task-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.not-started-tasks-container,
.in-process-tasks-container,
.completed-tasks-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr 11fr / 1fr;
}

.not-started-tasks-container {

}

.in-process-tasks-container {

}

.completed-tasks-container {

}

.task-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-header > p {
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.task-header > p:first-letter {
    text-transform: uppercase;
}